$back_color:#F5FEF5;
$brand_color:#00B060;
$accent_color:#FF4500;
$text_color:#444;

$base_font_size:14px;
$base_spacing:1.6;
$half_spacing:$base_spacing/2;
$base_spacing_px:$base_spacing * $base_font_size;

/*content widths*/
$content_width_desktop:960px;
$content_width_tablet:720px;
$content_width_mobile:480px;



html, body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	font-size:62.5%;
	font-family:Ubuntu,sans-serif;
	font-weight:300;
}
body{
	font-size:$base_font_size;
}

p{
	padding-bottom:$base_spacing*$base_font_size;
	line-height:$base_spacing;
}

a{
	color:$brand_color;
	text-decoration:none;
	font-weight:500;
	&:hover{
		text-decoration: underline;
	}
}

::selection {
	background-color:$brand_color;
	color:#FFF;
}

.wrapper{
	width:$content_width_desktop;
	margin:auto;
}
.g{
	float:left;
	padding-left:$base_spacing_px;
}
.one-whole{width:100%;}
.one-tenth{width:10%;}
.two-tenths{width:20%;}
.three-tenths{width:30%;}
.four-tenths{width:40%;}
.five-tenths{width:50%;}
.six-tenths{width:60%;}
.seven-tenths{width:70%;}
.eight-tenths{width:80%;}
.nine-tenths{width:90%;}

.push-one-tenth{left:10%;}
.push-two-tenths{left:20%;}
.push-three-tenths{left:30%;}
.push-four-tenths{left:40%;}
.push-five-tenths{left:50%;}
.push-six-tenths{left:60%;}
.push-seven-tenths{left:70%;}
.push-eight-tenths{left:80%;}
.push-nine-tenths{left:90%;}

/*Site Logo*/
a.logo{
	h1{
		img{
			width:128px;
			height:128px;
		}
	}
}