.newsletter-signup{
    margin-top:1em;
    padding-top:1em;
    border-top:1px solid #EEE;
}

.newsletter-signup input:focus {
    outline:none;
}

.newsletter-signup label {
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    padding-bottom: 7px;
    color: #616161;
    font-weight: bold;
}


.newsletter-signup .button {
    display: block;
    position: relative;
    background-color: #00b060;
    padding: 0;
    margin: 0 auto;
    border: 0 none;
    border-bottom: #009040 3px solid;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    width: 140px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
}

.newsletter-signup .button:active {
    top: 2px; border-bottom-width: 1px;
}


.newsletter-signup input.email {
    display: block;
    padding: 8px 4px;
    margin: 0 4% 10px 0;
    text-indent: 5px;
    color: #818181;
    font-size: 1.0em;
    background: #f3f3f3;
    width: 100%;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ababab;
    -webkit-appearance: none;
}

.newsletter-signup input.email:focus {
    color: #666;
    background: #f3f3f3;
    box-shadow: 0 0 4px 1px #00b060 ;
    border-color: #00a050;
}

.newsletter-signup span.alert, .newsletter-signup span.message, .newsletter-signup span.success {
    display:block;
    border-radius:4px;
    margin:6px 0;
    padding:1em;
}

.newsletter-signup span.alert a , .newsletter-signup span.message a, .newsletter-signup span.success a{
    color:#000;
}

.newsletter-signup span.alert {
    background:#FF9000;
    border-bottom:3px solid #DF7000;
}

.newsletter-signup span.message {
    background:#3A94D3;
    border-bottom:3px solid #1A74B3;
}

.newsletter-signup span.success {
    background:#3E94D1;
    border-bottom:3px solid #1E74A1;
}
