<!doctype html>
<html lang="en" class="{{page.page-class}}">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }} &ndash; idodev.co.uk &ndash; Dev blog of Toby Foord</title>

	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500' rel='stylesheet' type='text/css' />
</head>
<body>
	<header>
		<a href="http://idodev.github.com" class="logo"><img src="" alt="I Do Dev - Toby Foords Personal Blog" /></a>
	</header>
	<div class="wrapper">
		<div class="column six-tenths">
		{{ content }}
		</div>

		<div class="column three-tenths push-one-tenth">
			<p>Hi, I'm Toby. A <a href="http://github.com/idodev">developer</a>, a wannabe <a href="www.foorddesign.co.uk">designer</a>, a husband, and a dad. I ocassionally <a href="http://github.com/idodev">commit</a>, once in a while <a href="http://twitter.com/tobyfoord">tweet</a>, and on a blue moon <a href="#">chat</a>.</p>
		</div>
	</div>
</body>
</html>