---
layout: base
---
<div class="mega-text">
    <div class="wrapper">
        <div class="column-wrapper">
            <div class="column seven-tenths">
                <h1>Hi, I'm Toby! I <span class="things-i-do tid-type">develop</span> things for <span class="things-i-do tid-platform">web</span></h1>
            </div>
            <div class="column three-tenths bg-me">&nbsp;</div>
        </div>
    </div>
</div>


<div class="wrapper page-content">
    <a href="http://feeds.feedburner.com/idodev" title="Subscribe to the idodev rss feed" class="rss-link">
        <img src="/img/rss.png" alt="idodev rss feed"/>
    </a>
    <div class="column-wrapper">
        <div class="column six-tenths">
        {{ content }}
        </div>
        <div class="column three-tenths push-one-tenth sink-one-line">
            <!-- featured stuff goes here -->
        </div>
    </div>
</div>
